@import 'scss/grid';
@import 'scss/color';

/** Switch
 -------------------------------------*/
.switch {
	display: flex;
	flex-direction: row;
	align-items: center;
	input {
		position: absolute;
		opacity: 0;
	}
	label {
		display: flex;
		@include mobile-device {
			margin: 0 auto;
		}
		.toggleBtn {
			position: relative;
			display: flex;
			align-items: center;
			height: 3rem;
			width: 6rem;
			background: $pc;
			border-radius: 3rem;
			&::after {
				position: absolute;
				left: 0;
				display: block;
				content: '';
				height: 3rem;
				width: 3rem;
				border-radius: 3em;
				background: #fff;
				box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
				transition: all 0.5s;
			}
			& + span {
				margin-left: 1rem;
				font-size: 2rem;
			}
		}
	}
	input:checked + label {
		.toggleBtn {
			background: yellow;
			&::after {
				left: 3rem;
			}
		}
	}
}
