@import 'scss/color';

.projectItem {
	padding-top: 1rem;
	.title {
		color: $gc1;
		a {
			text-decoration: none;
			color: $gc1;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.detail {
		font-size: 1.4rem;
		font-weight: 200;
		color: $gc2;
	}
}
