@import 'scss/color';
@import 'scss/grid';

.subInfo {
	@include mobile-device {
		display: flex;
		flex-direction: column-reverse;
	}
	aside {
		min-height: 100vh;
		padding-top: 7rem;
		background: #2c323e;
		color: $wc1;
		@include mobile-device {
			// height: auto;
			padding-top: 0;
		}
	}
}
